VITE_API_URL=/api
VITE_PIX_KEY=your-pix-key
VITE_PIX_RECEIVER_NAME=your-pix-receiver-name
VITE_PIX_MAE=your-mom-pix-key
VITE_PIX_FAVORECIDO_MAE=your-mom-pix-receiver-name
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-key
PORT=3333
AUTH_TOKEN_SECRET=your-auth-token-secret
SUPABASE_SECRET_KEY=your-secret-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
